.videoContainer {
  width: auto;
  height: auto;
}
.reactPlayer {
  position: relative;
  width: 100% !important;
  height: 18rem !important;
}
.videoTitle {
  font-size: 1.5rem;
  padding: 0.3rem 0rem;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 5rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2rem;
}
