.sliderItemWrap {
  height: 15rem;
  width: 100%;
  position: relative;
  margin-right: 0.5rem;
}
.sliderItemImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.imgGalleryContainer {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}

.rightArrowWrap {
  color: black;
  position: absolute;
  right: 0;
  top: -4rem;
}
.leftArrowWrap {
  color: black;
  position: absolute;
  right: 2.5rem;
  top: -4rem;
}

.rightArrowWrap svg,
.leftArrowWrap svg {
  font-size: 2rem;
}
.imageWrap {
  position: absolute;
  bottom: 10px;
  right: 15%;
  width: 65%;
}
.imageTitle {
  font-family: "Bree Serif", serif;
  font-size: 0.8rem;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  line-height: 1.15;
  height: 2rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

@media screen and (min-width: 864px) {
  .sliderItemWrap {
    height: 25rem;
  }
}
@media screen and (min-width: 1200px) {
  .sliderItemWrap {
    height: 25rem;
  }
}
